<div class="col-md-6 mx-auto">
<div class="card-body card">
    <h3>Add Idea</h3>
    <form action="/ideas" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title"  >
    </div>
    <div class="form-group">
        <label for="details">Details</label>
        <textarea name="details" class="form-control" required ></textarea>
    </div>
    <button class="btn btn-primary">Add Idea</button>
    </form>
  </div>
  </div>